body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

.orange {
    color: orange;
}

.flexible-container {
    display: flex;
    padding: 5%;

}

.width {
    width: 50%;

}

.width img {
    width: 100%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: radial-gradient(orange, tomato);
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}

.welcome {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.box {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;

}

#back-image {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

#box-1 {
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}

#box-2 {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p {
    text-align: center;
    color: orange;
}